/* body {
    height: 100vh;
    background: linear-gradient(45deg, #eafa04, #0303b3);
    block-size: 400% 400%;
    animation: gradient 12s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
} */

body {
    background-image: url("/assets/img/a\ \(10\).gif");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}


a1 {
        /* display: block; */
        margin-left: 16px;
        width: 200px;
        height: auto;
        border: 5px solid #68fa14;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        transition: transform 0.3s, box-shadow 0.3s;
        
        /* cursor: pointer; */
}
    